<div class="three columns nav">
	<h5><a href="history.html">Background</a></h5>
	<p>
		<a href="history.html">Evolution of BB</a>  </br> 
		<a href="mu2.html">VDT &amp; BB+</a>
	</p>
	<h5><a href="content.html">Content</a></h5>
	<p>
		<a href="healthrecords.html">Clinical</a> </br> 
		<a href="financial.html">Financial / Health Plan</a>
	</p>
	<h5><a href="download.html">Download</a></h5>
	<p></p>
	<h5><a href="transmit-using-direct.html">Transmit</a></h5>
	<p><!--
		<a href="transmit-using-direct.html">Using Direct</a> <br /> 
		<a href="transmit-using-email.html">Using Email</a>-->
	</p>
	<h5><a href="receive-using-direct.html">Receive</a></h5>
	<p><!--
		<a href="receive-using-direct.html">Using Direct</a> <br />-->
	</p>
	<!--
	<h5><a href="tutorials.html">Tutorials</a></h5>
	<p>
		<a href="#">Hello World</a> </br> 
		<a href="#">Set &amp; Forget</a>
	</p>
	-->
	<h5><a href="toolkit.html">Toolkit</a></h5>
	<p><!---->
	</p>
	<h5><a href="privacy.html">Privacy &amp; Security</a></h5>
</div>